.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 400px;
  position: absolute;
  top: 0;
  background-color: #fff;
}
.loader > svg {
  overflow: visible;
  width: 100px;
  height: 150px;
}
svg > g {
  animation: slide 2s linear infinite;
}
svg g:nth-child(2) {
  --webkit-animation-delay: calc(2s / 4);
}
svg g:nth-child(2) path {
  --webkit-animation-delay: calc(2s / 4);
  --webkit-stroke-dasharray: 0px calc(157px + 1);
  stroke-dashoffset: 1px;
}
svg path{
  stroke: url(#gradient);
  stroke-width: 20px;
  stroke-linecap: round;
  fill: none;
  --webkit-stroke-dasharray: 0 157px;
  stroke-dashoffset: 0;
  animation: escalade 2s cubic-bezier(0.8, 0, 0.2, 1) infinite;
}

.stop1 {
  stop-color:#FF56A1;
  stop-opacity:1;
}
.stop2 {
  stop-color:#FF9350;
  stop-opacity:1;
}

@keyframes slide {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(50px);
  }
}

@keyframes escalade {
  0% {
    --webkit-stroke-dasharray: 0 157px;
    stroke-dashoffset: 0;
  }
  50% {
    --webkit-stroke-dasharray: calc(157px - 1) 157px;
    stroke-dashoffset: 0;
  }
  100% {
    --webkit-stroke-dasharray: calc(157px - 1) 157px;
    --webkit-stroke-dashoffset: calc(calc(157px - 1) *-1);
  }
}