.containerConvenience {
    background-color: var(--baseBlack);
    height: 100vh;
}
.registerContainer {
    --verde: var(--amarillo);
    height: fit-content;
    /* align-items: initial; */
    background-color: var(--baseBlack);
}
.registerContainer .login {
    margin-top: 40px;
    margin-bottom: 40px;
    height: fit-content;
    width: 600px;
}
.registerContainer .row100 .col {
    margin-bottom: 40px;
}
.registerContainer .row100 .col:last-of-type  {
    margin: 10px 0 20px;
}