.section1 {
    background-image: url(./../../assets/img/header-background2.jpg);
    background-position: center 0;
    background-size: cover;
    height: 500px;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.infos1 {
    text-align: right;
    margin-right: 30px;
    width: 650px;
    animation: aaa 4s ease;
}
.infos1 h1 {
    font-size: 2.2em;
}
.infos1 p {
    font-size: 1.3em;
}

.section2 {
    background-color: rgb(24, 20, 20);
    height: 300px;
}