.grayContainer {
    background-color: rgba(0, 0, 0, .3);
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.datesContainer{
    background: var(--baseBackground);
    margin: 0 20px;
    transition: .3s;
    overflow: hidden;
    width: 1000px;
    height: 550px;
    display: flex;
    justify-content: space-between;
    box-sizing: content-box;
}

/*Bloques izquierdos*/
.datesLeft{
    background: var(--baseBackground);
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow: auto;
    width: 100%;
    overflow: hidden;
}

.datesLeftSup{
    width: 100%;
    display: flex;
    height: 50px;
    padding: 10px 0 0;
    justify-content: space-between;
    box-sizing: content-box;
}

.datesLeftSup1{
    display: flex;
    background: var(--baseBackground);
    transition: .5s;
    justify-content: end;
    align-items: center;
}
.datesIconS {
    margin: 0 20px;
    font-size: 2em;
}
.datesLeftSup2{
    background: var(--baseBackground);
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}
.datestabs {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding-left: 30px;
}
.datestabs > div {
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    padding: 20px 15px;
    color: rgb(146, 142, 142);
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s;
}
.datestabs > div:hover {
    border-bottom: 1px solid  var(--verdeEditor);
    color: var(--verdeEditor);
}
.datesLeftMed{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-top: 1px solid #ccc;
}

.datesLeftMed1{
    display: flex;
    transition: .5s;
    align-items: center;
    cursor: pointer;
}
.datesLeftMed1 > .datesIconS {
    font-size: 1.3em;
    margin: 0 15px 0 0;
}
.datesLeftMed2{
    transition: .5s;
}
.datesIcons {
    display: flex;
}
.tabsContainer {
    height: calc(100% - 125px);
    flex-direction: column;
    display: flex;
}
.filesContainer {
    display: grid;
    overflow: auto;
}
.guardarContainer {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 100%;
}
/*Bloques Derechos*/
.datesRight{
    justify-self: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-left: 1px solid #ccc;
}
.datesSave {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: inherit;
}
.datesRightS{
    transition: .5s;
}

.datesRightI{
    transition: .5s;
}

/*Clases de etiquetas*/
.datesH1{
    background: var(--baseBackground);
    transition: .5s;
    font-size: 1.7em;
    color: var(--baseColor);
    letter-spacing: 1px;
    word-spacing: 1px;
}

.datesH2{
    font-size: .8em;
    font-weight: 500;
    transition: .5s;
    color: var(--baseColor);
}

.datesH3{
    /* margin-left: 12%; */
    /* margin-bottom: 10%; */
    /* padding-top: 10px; */
    font-size: 22px;
    background: var(--baseBackground);
    transition: .5s;
    color: var(--baseColor);
}

.datesP{
    /* margin-left: 10px; */
    font-size: 18px;
    background: var(--baseBackground);
    transition: .5s;
    color: var(--baseColor);
    /* padding-bottom: 15px; */
}

.datesField{
    font-size: 16px;
    transition: .5s;
    color: var(--baseColor);
}

.datesButton{
    font-size: 1.2em;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    font-family: 'Poppins', sans-serif;
    background: var(--verdeEditor);
    transition: .5s;
    color: var(--baseColor);
    border: 2px solid var(--verdeEditor);
    width: 200px;
    padding: 10px 25px;
}

.datesButton:hover{
    background: #fff;
}

.datesIconS,
.datesIconS2,
.datesIconM{
    transition: .3s;
    color: var(--baseColor);
}

.datesIconS2,
.datesIconM{
    font-size: 25px;
    margin: 0 10px;
    cursor: pointer;
}
.datesIconS2 {
    margin-right: 10px;
}

.datesIconS2:hover, .datesIconM:hover{
    color: var(--verdeEditor);
}

.datesIconR{
    font-size: 190px;
    margin-left: 19%;
    background: var(--baseBackground);
    transition: .5s;
    color: var(--baseColor);
}
.spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}
.spinner {
    /* display: block; */
    width: 100px;
    height: 100px;
    border: 6px solid rgba(126, 126, 126, 0.4);
    border-radius: 50%;
    border-left-color: rgb(78, 149, 242);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
/* dddddddddddddddddddddddddd */
.col {
    position: relative;
    width: 50%;
    transition: .5s;
}
.inputBox {
    position: relative;
    width: 100%;
    height: 40px;
    color: var(--verdeEditor);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.inputBox input{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
    z-index: 1;
    color: #000;
}
.inputBox .text{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: .5s;
    pointer-events: none;
    font-family: 'Poppins', sans-serif;
    white-space: pre-wrap;
}
.inputBox input:focus + .text,
.inputBox input:valid + .text{
    top: -35px;
    left: -10px;
}
.inputBox .line{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--verdeEditor);
    transition: .5s;
    border-radius: 2px;
    pointer-events: none;
}
.inputBox input:focus ~ .line,
.inputBox input:valid ~ .line{
    height: 100%;
}