.infoContainer {
    /* background-image: url(./../../assets/img/header_background_extra.jpg); */
    background-position: center 0;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    height: calc( 100vh - 78px);
    justify-content: space-evenly;
    color: #fff;
}
.code {
    margin-bottom: 30px;
    width: 400px;
    background-color: rgb(46, 40, 40);
    border-radius: 10px;
    padding: 15px 15px 20px;
    transform: translateY(0);
    animation: ccc 2s ease;
}
.code p.languageTitle {
    font-family: 'Poppins', serif;
    font-weight: bold;
    white-space: pre-wrap;
}
.code p {
    position: relative;
    font-family: monospace;
    width: fit-content;
}
.code p span{
    white-space: pre-wrap;
}
.code p span.class {
    color: rgb(212, 199, 16);
}
.code p span.property, .code p span.tag {
    color: rgb(127, 243, 116);
}
.code p span.value, .code p span.attrValue {
    color: rgb(237, 137, 83);
}
.code p span.atribute {
    color: rgb(224, 20, 20);
}
.code p span.content {
    color: #ccc;
}
.code p span.i {
    color: rgb(9, 213, 145);
}

.code p span.machine{
    background-color: rgb(46, 40, 40);
    position: absolute;
    width: 100%;
    /* width: 0; */
    height: 100%;
    right: 0;
    white-space: pre-wrap;
}
.code:first-of-type .codeText:first-of-type > span.machine{
    animation: machine 2s steps(15);
    width: 0;
}

.code p span.machine.animationSpan{
    width: 0;
}
.info {
    width: 500px;
    padding: 20px 30px 40px;
    transform: translateX(0);
    animation: aaa 2s ease;
    opacity: 1;
    background-color: rgb(37, 33, 33);
    border-radius: 15px;
}
.info h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

@keyframes aaa {
    from {
        transform: translateX(-30%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes ccc {
    from {
        transform: translateY(-30%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes machine {
    from {
        width: 100%;
    }to {
        width: 0;
    }
}