.section2 {
    background-image: url(./../../assets/img/header-background2.jpg);
    background-position: center 0;
    background-size: cover;
    height: 400px;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #fff;
}
.infos2 {
    text-align: right;
    margin-right: 30px;
    width: 650px;
    animation: aaa 4s ease;
}
.infos2 h1 {
    font-size: 2.2em;
}
.infos2 p {
    font-size: 1.3em;
}
#lazyInfo {
    height: 400px;
    /* background-color:  rgb(24, 20, 20); */
    background-image: url(./../../assets/img/header-background2.jpg);
    background-position: center 0;
    background-size: cover;
}