.rojo{
    color: red;
}
.malp{
    color: red;
}
.imgeli{
    position: relative;
    width: 200px;
    left: 300px;
    bottom: 150px;
}
.formDelete {
    display: flex;
    /* width: 100%; */
    justify-content: space-between;
    align-items: center;
}
.btn-delete {
    margin-right: 50px;
}
