.Tprincipal{
    background: #000;
    font-size: 30px;
    color: #ccc;
}
.menu{
    width: 100%;
    background: #ccc;
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu li{
    display: inline-block;
    padding: 10px 20px;
}
.menu li a{
    display: inline-block;
    color: #fff;
}
.menu li a:hover{
    background: #ccc;
    color: #000;
}
.html{
    position: relative;
    bottom: 150px;
    width: 300px;
    height: 600px;
    
}
h2{
    font-size: 80px;
}
.htmlt{
    width: 100px;
    position: relative;
    left: 400px;
    bottom: 650px;
}
p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 20px;
    width: 800px;
}

