.Tprincipal{
    background: #000;
    font-size: 30px;
    color: #ccc;
}
.menu{
    width: 100%;
    background: #ccc;
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu li{
    display: inline-block;
    padding: 10px 20px;
}
.menu li a{
    display: inline-block;
    color: #fff;
}
.menu li a:hover{
    background: #ccc;
    color: #000;
}